<h1>{{title}}</h1>

<p style="color:green;">Merchant Redirect URL</p>

<p>Instaneous Sale API Response from dLocal: {{dLocalResponse}}</p>

<p>Before showing user payment success page, the best practice is confirm Transaction Status via dLocal Query API or Async Notification</p>