<h1>{{title}}</h1>

<p><b>Sale API Response from dLocal:</b> {{dLocalResponse}}</p>

<p style="color:red;">Best Practice: Before showing this user payment success page, confirm Transaction Status via dLocal Query API or confirm Async Notification</p>